@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*
font-family: "Noto Sans KR", sans-serif;
font-family: "Roboto", serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
}

.menu{
    width: 100%;
    height: 100px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    font-family: "Roboto", serif;
    font-size: 22px;
    font-weight: 400;
    z-index: 99;
}

.wr{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 200px;
    height: 50px;
    background: url(./Winix_CI.jpg) no-repeat;
    background-position: center;
    background-size: cover; 
}

.sub{
    width: 715px;
    height: 50px;
    padding: 20px;
}

.sub ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.sub ul li:last-child{
    background-color: #201B57;
    padding: 6px 20px;
    border-radius: 46.5px;
    color: white;
}

.section1{
    width: 100%;
    height: 100%;
    /* background: url(./space-background-with-fictional-planets.jpg) no-repeat; */
    background-color: #000;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wr1{
    width: 100%;
    height: 100%;
    max-width: 1440px;
    position: relative;
}

.text{
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0,-50%);
}

.text h2{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 5rem;
    font-weight: 400;
    color: white;
}

.text h1{
    font-family: "Roboto", serif;
    font-size: 9.375rem;
    font-weight: 600;
    color: white;
}

.text h3{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.375rem;
    font-weight: 200;
    color: white;
}


.section2{
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.wr2{
    width: 100%;
    height: 83.33%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.le2{
    width: 17%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.le2 ul{
    font-size: 23px;
    font-weight: 200;
    color: #808080;
}

.le2 ul li{
    margin: 15px 0;
}

.le2 ul li:first-child{
    margin: 15px 0;
    margin-bottom: 50px;
    font-size: 27px;
    font-family: 400;
    color: #201B57;
}

.ri2{
    width: 83%;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    background: url(./product/공청기.jpg) no-repeat;
    background-position: center;
    background-size: cover; 
}

.section3{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.wr3{
    width: 100%;
    height: 83.33%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.contents1{
    width: 100%;
    height: 83.33%;
    background-color: #f7f7f7;
    background: url(./pexels-bogdan-siudy-35128384-7185634.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 20px;
    display: none;
}

.tx1{
    width: 460px;
    height: 210px;
    position: absolute;
    bottom: 80px;
    left: 80px;
}

.tx1 h3{
    color: #8B7BC1;
    font-size: 22px;
    font-family: "Roboto", serif;
    margin-bottom: 16px;
}

.tx1 h2{
    color: white;
    font-size: 50px;
    font-family: "Noto Sans KR", sans-serif;
    margin-bottom: 16px;
}

.tx1 p{
    color: white;
    font-size: 25px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 200;
}

.contents2{
    width: 100%;
    height: 83.33%;
    background-color: #f7f7f7;
    background: url(./pexels-fauxels-3184306.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 20px;
    
}

.tx2{
    width: 460px;
    height: 210px;
    position: absolute;
    bottom: 80px;
    right: 80px;
}

.tx2 h3{
    color: #8B7BC1;
    font-size: 22px;
    font-family: "Roboto", serif;
    margin-bottom: 16px;
}

.tx2 h2{
    color: white;
    font-size: 50px;
    font-family: "Noto Sans KR", sans-serif;
    margin-bottom: 16px;
}

.tx2 p{
    color: white;
    font-size: 25px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 200;
}

.contents3{
    width: 100%;
    height: 83.33%;
    background-color: #f7f7f7;
    background: url(./pexels-asphotograpy-1002703.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 20px;
    display: none;
}

.tx3{
    width: 410px;
    height: 210px;
    position: absolute;
    bottom: 80px;
    left: 80px;
}

.tx3 h3{
    color: #8B7BC1;
    font-size: 22px;
    font-family: "Roboto", serif;
    margin-bottom: 16px;
}

.tx3 h2{
    color: white;
    font-size: 50px;
    font-family: "Noto Sans KR", sans-serif;
    margin-bottom: 16px;
}

.tx3 p{
    color: white;
    font-size: 25px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 200;
}

.section4{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wr4{
    width: 100%;
    height: 100%;
    max-width: 1440px;
    background: url(./world-map.png) no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 60px;
}

.tx4{
    width: 730px;
    height: 70px;
    margin-bottom: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tx4 h3{
    font-size: 24px;
    color: #404040;
}

.tx4 p{
    font-size: 22px;
    color: #404040;
    font-weight: 200;
}

.bar4{
    width: 2px;
    height: 70px;
    background-color: #201B57;
}

.section5{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.wr5{
    width: 100%;
    height: 60%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.wr5 .box:nth-child(1){
    background: url(./product/수상.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}

.wr5 .box:nth-child(3){
    background: url(./product/수상12.png) no-repeat;
    background-size: cover;
    background-position: bottom;
}

.wr5 .box:nth-child(4){
    background: url(./product/수상1.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}

.wr5 .box:nth-child(2){
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wr5 .box:nth-child(2) h2{
    font-family: "Roboto", serif;
    font-size: 50px;
}

.wr5 .box:nth-child(2) span{
    font-weight: 200;
}

.wr5 .box:nth-child(2) h3{
    font-weight: 200;
    font-family: "Noto Sans KR", sans-serif;
}

.bar5{
    width: 645px;
    height: 2px;
    background-color: #201B57;
}

.wr5 .box:nth-child(2) p {
    font-size: 20px;
    color: #808080;
    font-weight: 200
}

.ul5{
    width: 100%;
    height: 1px;
    border-bottom: 1px dotted #808080;
}

.box{
    width: 705px;
    height: 330px;
    background-color: white;
    border-radius: 20px;
}

.box:nth-child(3), .box:nth-child(4){
    margin-top: 30px;
}

.section6{
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
}

.wr6 h1{
    font-size: 65px;
    line-height: 80px;
    font-weight: 600;
}

.wr6 p{
    margin-top: 16px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 200;
}

.footer{
    width: 100%;
    height: 400px;
    background-color: #000;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrf{
    width: 100%;
    height: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
